body {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

#header {
  text-align: center;
  border: 0px;
  padding: 10px;
  margin: auto;
  background-color: #eef;
}

h1 {
  color: orange;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 35px;
}

#content {
  margin: auto;
  padding: 10px;
  max-width: 450px;
  width: 100%;
  font-family: sans-serif;
}

textarea {
  width: 100%;
  height: 20em;
}
