<html>
  <head>
    <title>en-flambe-neigh</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
  </head>
  <body>
    <div id="header">
      <h1>A talking sandwich?</h1>
    </div>
    <div id="content">
      <p>Have you ever wanted to speak to a sandwich? You already can!</p>
      <p>Have you ever wanted to have a sandwich reply to you? This one can! If you decide on the replies yourself. By typing them into the form below.</p>
      <p>En flamb&eacute;!</p>

      <form method="post">
        <textarea name="text" placeholder="Say something!"></textarea>
        <br>
        <select name="Type of food">
          <option value="en">Sandwich</option>
          <option value="en-us">Burger</option>
          <option value="de">Currywurst</option>
          <option value="it">Pizza</option>
          <option value="fr">Snails</option>
          <option value="ja">Sushi</option>
        </select>
        <input type="submit" value="Speak!">
      </form>
    </div>
  </body>
</html>
